<p>
  <b>Name:</b>
  <%= @user.display_name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>
<p>

<b>Groups</b>
<ul>
<% @user.groups.each do |group| %>
  <li><%= link_to group.name, group %></li>
<% end %>
</ul>