<h1>Add New Owner to Store</h1>
<p>Store owners have the ability to add new store owners, buy something, sell something, add managers and edit the store name and description.</p>

<%= render 'form' %>
