<div class="container container-half" >
  <div class="page-header">
    <h1>Add New Owner to Store</h1>
    <p>Store owners have the ability to add new store owners, buy something, sell something, add managers and edit the store name and description.</p>
  </div>
  <%= render 'form' %>
</div>