<div class="container" >
  <div class="page-header">
    <h1>Handle Dispute</h1>

    <% unless current_user.student? %>
      <p>This is where you decide whether to approve or deny a dispute. If you approve a dispute then a second transfer will be created that will transfer the amount out of the from account and back into the to account.</p>
    <% end %>
  </div>

  <%= render 'form' %>
</div>