<div class="container" >
  <div class="page-header">
    <h1>Dispute a transaction</h1>
    <p>By disputing a transaction you are asking the teacher to refund the money that was exchanged. The teacher must approve or deny any disputes.</p>
  </div>

  <%= render 'form' %>
</div>