<h1>Dispute a transaction</h1>
<p>By disputing a transaction you are asking the teacher to refund the money that was exchanged. The teacher must approve or deny any disputes.</p>

<%= render 'form' %>

<%= link_to 'Back', group_disputes_path(@group) %>
