<% if current_user.groups.any? %>
  <h3>Please select class to view:</h3>

  <table class="table table-striped table-bordered">
    <thead>
      <th>Name</th>
      <th></th>
      <th></th>
    </thead>
    <tbody>
      <% current_user.groups.each do |group| %>
        <tr>
          <td>
            <%= link_to(group.name, group_path(group)) %>
          </td>
          <td>
            <%= link_to "<i class='icon-cog'></i> Edit".html_safe, edit_group_path(group), class: "btn btn-primary" %>
          </td>
          <td>
            <%= link_to "<i class='icon-remove'></i> Delete".html_safe, group_path(group), class: "btn btn-danger", method: "delete", data: { confirm: "Are you sure you want to delete this group? All the students, jobs, stores and transfers will be removed. This can't be undone."} %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>
  <div class="well">
    <p>
      You currently don't have any classes or students. Please <%= link_to "create a class", new_group_path, class: "btn btn-default" %> and then you can start adding students.
    </p>
    </div>
<% end %>
