<% if current_user.groups.any? %>
  <h3>Please select class to view:</h3>
  <br/>
  <% current_user.groups.each do |group| %>
    <p><%= link_to(group.name, group_path(group)) %></p>
  <% end %>
<% else %>
  <div class="well">
    <p>
      You currently don't have any classes or students. Please <%= link_to "create a class", new_group_path, class: "btn" %> and then you can start adding students.
    </p>
    </div>
<% end %>
