<% local_params = {} %>
<% local_params[:account_id] = account_id if local_assigns.has_key?(:account_id) %>
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <th>Id</th>
    <th>From</th>
    <th>To</th>
    <th>Amount</th>
    <th>Description</th>
    <th>Occurred On</th>
    <th>Entered On</th>
  </thead>
  <tbody>
  <% if transfers.count > 0 %>
    <%= render partial: transfers, locals: local_params %>
  <% else %>
    <tr><td colspan="100">No transfers for this account.</td></tr>
  <% end %>
  </tbody>
</table>
